body { background: #fa1deb; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 23px; display: flex; }
.block-router-0 { color: #5d657c; font-size: 18px; margin-bottom: 5px; }
.block-token-1 { color: #cb8bd3; font-size: 15px; margin-bottom: 5px; }
.block-filter-2 { color: #fa2617; font-size: 20px; margin-bottom: 5px; }
.block-search-3 { color: #f9a262; font-size: 14px; margin-bottom: 5px; }
.block-token-4 { color: #994bd8; font-size: 17px; margin-bottom: 5px; }
.block-sms-5 { color: #93e4a7; font-size: 21px; margin-bottom: 5px; }